/* Allgemein */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #1a1a1a;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1e1e1e;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: top 0.3s; /* Sanfter Übergang beim Scrollen */
}

.navbar.fixed {
    position: fixed; /* Wechselt zu fixed, wenn gescrollt wird */
    top: 0; /* Positioniert die Navbar am oberen Rand des Bildschirms */
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem; /* Abstand zwischen den Optionen */
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem; /* Größere Schriftgröße */
    font-weight: bold;
    padding: 10px 20px; /* Blockigere Darstellung */
    background-color: #292929; /* Hintergrundfarbe für den Block */
    border-radius: 5px; /* Runde Ecken */
    transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
    background-color: #808080; /* Highlight-Farbe beim Hover */
    color: #000; /* Textfarbe beim Hover */
}

/* Header Container */
#header {
    margin-top: 50px; /* Abstand, um Platz für die Navbar zu schaffen */
    position: relative; /* Damit der Header relativ zur Navbar positioniert ist */
    display: flex;
    justify-content: center; /* Horizontal zentrieren */
    align-items: center;     /* Vertikal zentrieren */
    width: 100%;
    height: 60vh; /* Feste Höhe für den Header */
    overflow: hidden;
}

.hero {
	position: relative;
	justify-content: center; /* Horizontal zentrieren */
        align-items: center;     /* Vertikal zentrieren */
        z-index: 1;
        text-align: center;
        color: white;
        padding: 5% 5%;
	background: rgba(0, 0, 0, 0.5);
    }

.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: fade 30s infinite; /* Smooth Übergang */
    z-index: -1; /* Schiebt die Slideshow hinter den Text */
}

/* Keyframe Animation für den Hintergrundwechsel */
@keyframes fade {
    0% {
        background-image: url('slide1.jpg');
        opacity: 0;
    }
    3% {
        background-image: url('slide1.jpg');
        opacity: 1;
    }
    18% {
        background-image: url('slide1.jpg');
        opacity: 1;
    }
    20% {
        background-image: url('slide1.jpg');
        opacity: 0;
    }
    20.01% {
        background-image: url('slide2.jpg');
        opacity: 0;
    }
    23% {
        background-image: url('slide2.jpg');
        opacity: 1;
    }
    38% {
        background-image: url('slide2.jpg');
        opacity: 1;
    }
    40% {
        background-image: url('slide2.jpg');
        opacity: 0;
    }
    40.01% {
        background-image: url('slide3.jpg');
        opacity: 0;
    }
    43% {
        background-image: url('slide3.jpg');
        opacity: 1;
    }
    58% {
        background-image: url('slide3.jpg');
        opacity: 1;
    }
    60% {
        background-image: url('slide3.jpg');
        opacity: 0;
    }
    60.01% {
        background-image: url('slide4.jpg');
        opacity: 0;
    }
    63% {
        background-image: url('slide4.jpg');
        opacity: 1;
    }
    78% {
        background-image: url('slide4.jpg');
        opacity: 1;
    }
    80% {
        background-image: url('slide4.jpg');
        opacity: 0;
    }
    80.01% {
        background-image: url('film2.jpg');
        opacity: 0;
    }
    83% {
        background-image: url('film2.jpg');
        opacity: 1;
    }
    98% {
        background-image: url('film2.jpg');
        opacity: 1;
    }
    100% {
        background-image: url('film2.jpg');
        opacity: 0;
    }
}



/* Zusätzliche Optionen für Mobilgeräte */
@media (max-width: 768px) {
    #header {
        height: 80vh; /* Reduzierte Höhe für kleinere Bildschirme */
        display: flex;
	justify-content: center; /* Horizontal zentrieren */
        align-items: center;     /* Vertikal zentrieren */
    }
    .hero {
	position: relative;
	justify-content: center; /* Horizontal zentrieren */
        align-items: center;     /* Vertikal zentrieren */
        z-index: 1;
        text-align: center;
        color: white;
        padding: 5% 5%;
	background: rgba(0, 0, 0, 0.5);
    }
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

header p {
    font-size: 1.5rem;
    margin: 10px 0;
}

/* Projekte */
.projects {
    padding: 50px;
    background-color: #1a1a1a;
}

.projects h2 {
    text-align: center;
    margin-bottom: 30px;
}

.project-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.project-card {
    background-color: #0d0d0d;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 20rem;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s;
}
		
.project-card img:hover{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transform: scale(1.08);
}

.project-card h3 {
    margin: 10px 0;
}

.project-card p {
    font-size: 0.9rem;
    padding: 10px;
}

/* Über uns */
.about {
    padding: 50px;
    background-color: #1a1a1a;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    font-size: 0.9rem;
}

/* Responsive Anpassungen */
@media (max-width: 570px) {
    .navbar ul {
	flex-wrap: wrap; /* Erlaubt Umbrüche in der Flexbox */
        justify-content: center;
	gap: 0.5rem;
    }

    .navbar ul li {
	margin: 5px 0;
	}
    .navbar ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 00.8rem; /* Größere Schriftgröße */
	font-weight: bold;
        padding: 8px 18px; /* Blockigere Darstellung */
        background-color: #292929; /* Hintergrundfarbe für den Block */
        border-radius: 5px; /* Runde Ecken */
        transition: background-color 0.3s, color 0.3s;
    }

    header h1 {
	font-size: 2.5rem; /* Kleinere Schriftgröße für Header */
    }

    header p {
	font-size: 1.2rem; /* Kleinere Schriftgröße für Untertitel */
    }

    .project-card {
	width: 250px; /* Kleinere Karten für mobile Ansicht */
    }
}

@media (max-width: 8px) {
    .navbar ul {
	flex-direction: column; /* Mehr Platz zwischen den Links */
	align-items: center;
	/*gap: 8px; /* Weniger Abstand zwischen den Optionen (nur bei justify-content: space-between;)*/
    }

    .navbar ul li a {
	font-size: 1rem; /* Kleinere Schriftgröße */
	flex: 1 1 45%; /* Jedes Listenelement nimmt 45% der Breite ein */
    }
}

/* KONTAKTFORMULAR */
.contact {
    padding: 50px;
    background-color: #1a1a1a;
    text-align: center;
}

.contact h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
    font-size: 1rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: #292929;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 1rem;
	resize: vertical; /* Ermöglicht nur vertikale Größenänderung */
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #808080;
}

.submit-button {
    background-color: #808080;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    font-size: 1rem;
}

.submit-button:hover {
    background-color: #b3b3b3;
}
